.win-wrap {
  box-shadow: 0px 1px 4px rgb(19 24 48 / 20%);
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;

  .win {
    font-size: 72px;
  }
}
